.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  align-items: center;
  padding: 10px 15px;
  .macLogo {
    &:hover {
      cursor: pointer;
    }
  }
  .searchInputContainer {
    align-items: flex-end;
    display: flex;
    .searchInput {
      border: none;
      background: transparent;
      border-bottom: 1px solid #ccc;
      outline: none;
      color: #ccc;
      &:focus {
        color: #ccc;
      }
    }
    .searchIcon {
      border-bottom: 1px solid #ccc;
    }
  }
}

.mainContainer {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  margin: 50px auto;
  .cardContainer {
    -webkit-column-break-inside: avoid;
    border-top: 1px solid #ccc;
    padding: 15px;
    padding-bottom: 20px;
    margin: 0 2px 15px;
    text-align: left;
    max-height: 500px;
    &:nth-child(1) {
      border-top: none;
    }
    .cardHeader {
      height: 200px;

      .productName {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
      }
      .productDescription {
        font-size: 12px;
        text-transform: uppercase;
        margin: 6px 80px 6px 0;
        height: 150px;
      }
    }

    .imgContainer {
      border-bottom: 1px solid #ccc;
      min-height: 100px;
      display: flex;
      justify-content: center;
      figure {
        height: 200px;
        background: #fefefe;
        transition: opacity 0.4s ease-in-out;
        display: inline-block;
        max-width: 280px;
        img {
          max-height: 100%;
          width: auto;
          padding-bottom: 15px;
          margin-bottom: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .productPrice {
      font-weight: bold;
    }
  }
  .cardFooter {
    display: flex;
    padding: 18px 0;
    align-items: center;
    justify-content: space-between;

    .addToBagBtn {
      background-color: black;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      padding: 5px 15px;
      font-size: 15px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .mainContainer {
    column-gap: 0px;
    figure {
      width: 100%;
    }
    .cardContainer {
      &:nth-child(1) {
        border-top: none;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .mainContainer {
    .cardContainer {
      &:nth-child(2) {
        border-top: none;
      }
    }
  }
}
